<div class="task-item">
  <li
    class="task-item"
    (click)="toggleDescription($event)"
    [appTooltip]="showDescriptionFlag ? 'Hide description' : 'Show description'"
  >
    <span class="tooltip">{{
      showDescriptionFlag ? 'Hide description' : 'Show description'
    }}</span>
    <span>{{ item.text }}</span>
  </li>
  <textarea
    *ngIf="showDescriptionFlag"
    class="task-description"
    [(ngModel)]="item.description"
  ></textarea>
  <app-button
    [title]="deleteButtonTitle"
    [buttonClasses]="{ 'button--delete': true }"
    (click)="deleteItem($event)"
    tooltipText="Delete this task"
  ></app-button>
</div>
