.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  margin-bottom: 5px;
  border-radius: 4px;
  height: 40px;
}

.button-delete {
  margin-top: 10px;
}
