<div class="outer-container">
  <div class="task-container">
    <h1 class="title">{{ title }}</h1>
    <ul class="task-list">
      <li class="task-item" *ngFor="let task of tasks">
        {{ task }}
        <button class="delete-button" (click)="deleteTask(task)">
          {{ deleteButtonTitle }}
        </button>
      </li>
    </ul>
    <div class="input-container">
      <input class="task-input" [(ngModel)]="newTask" placeholder="New task" />
      <button class="add-button" (click)="addTask()">
        {{ addButtonTitle }}
      </button>
    </div>
  </div>
</div>
