<div class="task-container">
  <h1 class="title">{{ title }}</h1>
  <ul class="task-list">
    <app-to-do-list-item
      *ngFor="let task of tasks"
      [item]="task"
      (delete)="deleteTask($event)"
    ></app-to-do-list-item>
  </ul>
  <div class="input-container">
    <mat-form-field class="task-input-field">
      <input
        matInput
        class="task-input"
        [(ngModel)]="newTask"
        placeholder="New task"
      />
    </mat-form-field>
    <button
      class="button button--add"
      [disabled]="!newTask.trim()"
      (click)="addTask()"
    >
      {{ addButtonTitle }}
    </button>
  </div>
</div>
