.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 10vh;
  background-color: #f0f0f0;
}

.task-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto 20px;
  box-sizing: border-box;
}

.description-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  height: 40px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  margin-bottom: 5px;
  border-radius: 4px;
  box-sizing: border-box;
  min-width: 200px;
  min-height: 56px;
  margin-left: 10px;
  margin-right: 10px;
}

.task-description {
  width: 100%;
  padding: 10px;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #f9f9f9;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  transition: height 0.3s ease;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 75px;
}

.task-description.ng-star-inserted {
  height: auto;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.input-block {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.task-input-field {
  flex: 1;
  min-height: 56px;
}

.mat-form-field {
  display: flex;
  align-items: center;
  height: 100%;
}

.mat-form-field-infix {
  display: flex;
  align-items: center;
  height: 100%;
}

.task-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #666;
  border-radius: 4px;
  min-height: 56px;
  resize: vertical;
  box-sizing: border-box;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.selected {
  background-color: lightskyblue;
  border-radius: 4px;
}
